extends layout

block content
  h1 Add a link!
  #container.col
    p.
      Fill in the form below to get your very own superlink
    form(action='/link/create',method='post')
      label
        strong Link to shorten:
      input(type="text",placeholder="Link",name="link")
      button(type="submit") Make my link!
